*{
    padding:10px;
    margin:0;
}


section{  
  margin: 20px 0;
}

ul{    
  padding-left: 40px;
}

ul ul ul {
  margin-top: 10px;
}

/* Add style here */

main section:nth-of-type(2) > ul > li:nth-child(1) {
  color: #2a52be;
}

main section:nth-of-type(2) > ul > li:nth-child(2) {
  color: #228b22;
}

main section:nth-of-type(2) > ul > li:nth-child(3) {
  color: #dc143c;
}

main section:nth-of-type(2) > ul > ul > li:nth-child(1),
main section:nth-of-type(2) > ul > ul > li:nth-child(3) {
  background-color: #f0f0f0;
  border-radius: 8px;
  color: #9400d3;
}

main section:nth-of-type(2) > ul > ul > ul > li:nth-child(1) {
  background-color: #fdf6e3;
  border-radius: 8px;
  color: #ff8c00;
  font-size: smaller;
}

main section:nth-of-type(2) > ul > li:last-child {
  color: #2a52be;
}
